@import url("https://use.typekit.net/viz0roz.css");

body {
    font-family: aktiv-grotesk-extended, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #06112C;
    background-color: #20419A;
    padding: 10%;
}

h1 {
    font-family: utopia-std, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    margin-bottom: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    padding: 60px;
    background: white;
    max-width: 500px;
    border-radius: 5px;
}

.buy-button {
    width: 160px;
    background: #FADE2F;
    color: #061744;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
}

.buy-button:hover {
    opacity: 80%;
} 
